.reset-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    background-color: #ffffff; /* White form background */
    border-radius: 8px; /* Slightly rounded corners */
    padding: 25px; /* Padding inside the container */
}




.h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}


.reset-inp{
    outline:none;
    cursor:pointer;
    border-radius:6px;
    padding:6px;
     margin-top: 4px;
     width:100%;
     color: #333333;
     border: 1px solid #cccccc;
     background-color: #fafafa;
 
 }
 
 .reset-inp:focus {
     outline: none;
     border-color: #007bff;
     box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
   }
   
 
 .reset-inp::placeholder{
     font-size:0.6em;
     color: #522c9f;
     font-weight: 500;
 }
 
 .reset-label{
     font-size:0.7em;
     color:black;
     font-weight: 500;
 }
 
 .reset-inp-label-con{
     margin-bottom:10px;
 }







 .submit-button {
    width: 40%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s linear;
    margin-top:10px;
    box-sizing:border-box;
    margin-bottom:0;
  }

  .submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.02);
  }



.errr-para{
    font-size:0.5em;
    color:red;
    font-weight:500;
}


.reset-butt-con{
    text-align:center;
}

.final-reset-con{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:100vh;
  }