.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .form-title {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  .form-field {
    margin-bottom: 15px;
  }
  
  .label-text {
    font-size: 13px;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
  
  .input-field {
    width: 90%;
    padding:8px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }

  .select-field{
    width: 93%;
    padding: 8px;
    font-size: 12px;
    color: #888;

    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .input-field:focus, .select-field:focus {
    border-color: #007BFF;
  }
  
  .input-field::placeholder {
    color: #888;
  }

  .select-field option{
    color: #888;
  }
  
  .select-field {
    cursor: pointer;
  }
  
  .form-container:hover {
    transform: scale(1.02);
  }
  
  .input-field, .select-field {
    transition: all 0.3s ease;
  }
  
  .sub-button {
    padding: 12px 20px;
    font-size: 13px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sub-button:hover {
    background-color: #218838;
  }
  
  .sub-button-con{
    text-align:center;
  }

  .err-msg {
    font-size: 14px;
    color: red;
    margin-top: 10px;
  }